- As a user, I want the ability to set the application to produce configurations for all GTA games set in the 3D universe.
	- User is prompted for which GTA game they would like to create a configuration.

- As a user, I want an application that is easy to use and visually appealing.
	- Selected vehicle is represented by the in-game 3D model.
	- All actions are performant.

- As a user, I want the ability to navigate the vehicle list so I may edit the parameters of each vehicle.
	- User is presented with inputs to navigate the vehicle data list.

- As a user, I want the ability to save my configuration(s) at any time so I may retrieve them later.
	- User can save configuration files.
		- User can name configurations.
	- User is able to retrieve configurations.
	- Saving is disabled if all params are defaults.

- As a user I want a configuration editor that produces a ready-to-use configuration file.
	- User has the ability to download a configuration file that can be used as is.
	- The configration is loaded with the variables that the user manipulated in the UI.
	- http://stackoverflow.com/questions/21012580/is-it-possible-to-write-data-to-file-using-only-javascript

- As a user, I want the ability to revert all settings to the original settings at any time during editing.
	- UI includes an input that reverts all params for all vehicles to game defaults.

- As a user, I want the ability to revert settings for the selected vehicle to the original settings at any time during editing.
	- UI includes an input that reverts all params for the selected vehicle to game defaults.

- As a user, I want the ability to revert the value of a selected vehicle param to the original settings at any time during editing.
	- UI includes an input that reverts the value of the selected param to game default.